body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, 
input, textarea, p, blockquote, th, td ,header,nav,menu,section,footer{
    margin: 0;
    padding: 0;
}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img,dl,dt{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;border:0;}

.bg{
    width: 100px;
    height: 168px;
    background-image: url(http://imgplat.store.qq.com/bqq_qfpic/0/201704257b79b87b55a129bd3220083e4de082d9/0);
    background-repeat: no-repeat;
    position: fixed;
    z-index: 123;
    right: 8px;
    top: 300px;
    .launchBtn{
        position: absolute;
        bottom: 69px;
        left: 5px;
        width: 92px;
        height: 22px;
        margin: 0 auto;
        cursor: pointer;
        background: url(../img/QQ.png) center no-repeat;
         // background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFwAAAAWCAMAAAB68gtgAAAAGXRFW…Ffc30l+bLywUxK69GzAb1rSB1CdP93L1pytG9Duv8XYACYZVDdZpPw6wAAAABJRU5ErkJggg==);
    }
    .gotoTop{
        height: 66px;
        width: 100px;
        cursor: pointer;
        display: none;
        background: url(http://nos.netease.com/blz/1/bmall/images/new-edition/gotoTop2.png) 0 0 no-repeat;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}


header,nav,#main,menu,section,#links,#help,footer{
    width: 1200px;
    margin: 0 auto;
}
#hearder_wrap{
    background: #0b3654;
    width: 100%;
    header {
        height: 90px;
//      background: red;
        min-width: 975px;
        position: relative;
        z-index: 99;
        border: 0px solid red;
        .logo {
            display: block;
            height: 65px;
            width: 300px;
            background: url("http://nos.netease.com/blz/1/bmall/images/new-edition/logo.jpg") 0 0 no-repeat;
            position: absolute;
            top: 20px;
        }
        .her_right{
            width: 760px;
            float: right;
            position: relative;
            .up_nav{
                height: 34px;
//              z-index: 9995;
                position: relative;
                line-height: 34px;
                color: #b8b8b8;
                float: right;
                li{
                    font-size: 12px;
                    float: left;
                   a,button{
                       padding: 0 10px;
                       color: #B8B8B8;
                    }
                    button{background: none;border: 0;}
                } 
            }
            .search{
                font-size: 12px;
                position: absolute;
                top: 48px;
                left: 0;
                #input_search{
                    text-indent: 8px;
                    height: 30px;
                    background: #b8b8b8;
                    float: left;
                }
                #input_submit{
                    padding: 0 13px;
                    height: 30px;
                    background: #000;
                    float: left;
                    color: #fff;
                }
            }
            .shopping_cart{
                z-index: 999;
                width: 260px;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
                color: #000;
                background: url(http://nos.netease.com/blz/1/bmall/images/new-edition/shopping_cart.jpg) 0 0 no-repeat;
                position: absolute;
                right: 0;
                top: 48px;
                .my_case{
                    color: #000;
                    font-size: 12px;
                    line-height: 30px;
                    height: 30px;
                    float: left;
                    //width: 72px;
                    padding-left: 33px;
                    vertical-align: middle;
                }
                .cart{
                    position: relative;
                    z-index: 999;
                    float: left;
                    vertical-align: middle;
                    line-height: 30px;
                    height: 30px;
                    width: 155px;
                    
                    .cart_enter{
                        color: #000;
                        font-size: 12px;
                        height: 30px;
                        display: block;
                        margin-left: 65px;
                    }
                   .small_cart{
                        width: 344px;
                        background: #b8b8b8;
                        height: 70px;
                        z-index: 999;
                        position: absolute;
                        right: 0px;
                        top: 30px;
                        p{
                            text-align: right;
                            height: 30px;
                            padding-right: 20px;
                            line-height: 30px;
                            font-size: 12px;
                            span{
                                padding-right: 10px;
                                color: #D02513;
//                              display: none;
                            }
                        }
                        a{
                            margin-left: 210px;
                            height: 30px;
                            width: 120px;
                            text-align: center;
                            color: #fff;
                            line-height: 30px;
                            display: block;
                            background: url(http://blz.nos.netease.com/1/bmall/images/new-edition/btn_mini_cart.jpg) 0 0 no-repeat;
                        }
                    } 
                }
               .cart_count{
                        position: absolute;
                        top: -15px;
                        left: 130px;
                        font-size: 12px;
                        color: #fff;
                        line-height: 16px;
                        text-align: center;
                        min-width: 20px;
                        _width: 20px;
                        height: 20px;
                        background-image: url(http://nos.netease.com/blz/1/bmall/images/new-edition/icon.png);
                        background-position: -49px -300px;
                    }
                
            }
        }
        .cart:hover .small_cart{
            display: block;
        }
    }
}


#nav_wrap{
    background: #029CD3;
    width: 100%;
    nav{
        height: 50px;
        font-size: 14px;
        color: #fff;
        position: relative;
        z-index: 89;
        .nav_ul{
            width: 100%;
            height: 50px;
            line-height: 50px;
            li{
                height: 50px;
                width: 110px;
                text-align: center;
                float: left;
                a{
                    width: 100%;
                    display: block;
                    height: 100%;
                    color: #fff;
                }
            }
            .ul_first{
                width: 280px;
                padding-left: 20px;
                border-right: 1px solid #00446B;
                height: 50px;
                text-align: left;
                font-size: 14px;
            }
            .ul_fifth{
                float: right;
                height: 50px;
                width: 100px;
                text-align: right;
                background-image: url(http://nos.netease.com/blz/1/bmall/images/new-edition/icon.png);
                background-position: -26px -81px;
            }
        }
    }
}



#links_wrap{
    background: #15191e;
    width: 100%;
    #links{
        height: 85px;
        padding-top: 80px;
        background: #15191e;
        ul{
            margin: 0 auto;
            background: url(http://nos.netease.com/blz/1/bmall/images/new-edition/brand.jpg) 0 0 no-repeat;
            height: 86px;
            overflow: hidden;
            li{float: left;}
            .pinpai{
                display: block;
                font-weight: bold;
                width: 90px;
                height: 56px;
                padding-top: 10px;
                font-size: 18px;
                line-height: 30px;
                text-align: center;
                color: #000;
            }
        }
    }
}



#help_wrap{
    background: #000000;
    width: 100%;
    #help{
        height: 123px;
        margin: 0 auto;
        width: 1000px;
        padding-top: 20px;
        padding-bottom: 30px;
        div{
            float: left;
            width: 160px;
            padding-left: 40px;
            h3{
                font-size: 14px;
                line-height: 40px;
                color: #fff;
            }
            ul{
                font-size: 12px;
                line-height: 22px;
                color: #999;
            }
        }
    }
}

#footer_wrap{
    background: #15191e;
    width: 100%;
    footer{
        height: 220px;
        .fetureList{
            height: 60px;
            margin: 0 auto;
            width: 1000px;
            color: #fff;
            li{
                font-size: 14px;
                line-height: 60px;
                float: left;
                width: 200px;
                text-align: center;
                span{
                    height: 28px;
                    width: 32px;
                    display: inline-block;
                    margin-top: 6px;
                    vertical-align: middle;
                    background-image: url(http://nos.netease.com/blz/1/bmall/images/new-edition/icon.png);
                }
                .goodsIcon{background-position: 0px -350px;}
                .serveIcon{background-position: -50px -350px;}
                .payIcon{background-position: -100px -350px;}
                .sendIcon{background-position: -150px -350px;margin-right: 10px;}
            }
            .pay{width: 400px;}
        }
        .copyCon{
            text-align: left;
            width: 600px;
            margin: 0 auto;
            color: #fff;
            .logoList{float: left;
                li{float: left;margin-right: 10px;}
            }
            div{
                float: left;
                padding-left: 10px;
                font-size: 12px;
                ul{
                    padding-left: 20px;
                    color: #aaa;
                    li{
                        white-space: nowrap;
                        display: inline-block;
                        vertical-align: top;
                        font-size: 12px;
                        a{color: #aaa;}
                    }
                }
            }
        }
    }
}

//#tbody{
//  height: 100%;
//  width: 100%;
//  display: none;
//  background: url(../img/bg.png) left top repeat cover;
//}

        //#cnt-box{display: none;}
        .g-bd {
            display: none;
            position: absolute;
            top: 200px;
            left: 500px;
            width: 420px;
            overflow: hidden;
            border-radius: 4px;
            background: #fff;
            z-index: 9999;
            .m-header {
                position: relative;
                padding: 30px 0;
                .u-closebtn {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background: url(//ursdoccdn.nosdn.127.net/webzj_cdnbase/sprite_61fbe151ab715649c6b7c4ec39156201.png) -9999px -9999px no-repeat;
                    background-position: -99px -85px;
                }
                .headimg {
                    width: 150px;
                    height: 25px;
                    margin: 0 auto;
                    background: url(//ursdoccdn.nosdn.127.net/webzj_cdnbase/sprite_61fbe151ab715649c6b7c4ec39156201.png) -9999px -9999px no-repeat;
                    background-position: -16px -28px;
                }
            }
        .m-cnt {
            padding: 0 50px;
            .form-control{
                height: 44px!important;
                width: 100%;
                border: 1px solid #999;
                margin: 15px 0;
                text-indent: 10px;
                border-radius: 3px;
                }
            .u-logo,.s-logo{
                float: left;
                width: 21px;
                text-align: center;
                padding: 0 5px 0 10px;
                background: url(//ursdoccdn.nosdn.127.net/webzj_cdnbase/sprite_61fbe151ab715649c6b7c4ec39156201.png) -9999px -9999px no-repeat;
                background-position: -251px -86px;
            }
            .dlguanjia{
            width: 298px;
            margin-top: -3px;
            color: #000;
            font-size: 12px;
            line-height: 20px;
            vertical-align: top;
            word-break: break-all;
            a{
                color: #4aafe9;
                text-decoration: none;
            }
        }
            .dl{
                margin-top: 16px;
                margin-bottom: 12px;
                text-indent: 0;
                button{background: #ca5252;color: #fff;}
                button:hover{background: #fa5b5b;color: #E6E6E6;}
            }
            .zc{
                height: 44px;
                width: 100%;
                margin-top: 15px;
                a{
                    float: left;
                    height: 12px;
                    text-decoration: none;
                    cursor: pointer;
                    color: #999;
                    font-size: 12px;
                    line-height: 16px;
                    &:nth-child(2){float: right;}
                }
                a:hover{color: #666;}
           }
        }
    }