/*$Id: base.css 870192 2013-2-10 10:33:20Z lmsh $*/
@charset "gb2312";
body {
	font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
	/*background:#313131 url(/images/bx/bg_repeat.jpg) repeat-x 0 0;*/
	background-color:#000;
	word-break:break-all;
	word-wrap:break-word;
}
html{
	background-color: #000;
}

a {
	color:#6d6d6d;	
	text-decoration:none;
	outline:none;
}
a:link {
	color:#6d6d6d;
}
a:visited {
	color:#6d6d6d;
}
a:hover {
	/*color:#fff;*/
	text-decoration:underline;
}
a:active {
	color:#fff;
}

/*-----clearFix-----*/
.clearFix:after{
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
.clearFix{ display: inline-block; }
/* Hides from IE 4-6 \*/
* html .clearFix{ height: 1%; }
.clearFix{ display: block; } 
/* End hide from IE 4-6 */
strong{
	font-weight:bold;
}
.font_12{
	font-size:12px;
}
.font_14{
	font-size:14px;
}
.font_24{
	font-size:24px;
}
.font_yellow,.cDRed{
	color:#ea6100;
}
.font_red {color:#ea6100;}
.errorInfo{
	color:#f00;
}

.font_red2 { color: #D02513;}
a.font_red{
	text-decoration:underline;
	color:#ea6100;
}
.font_blue{
	color:#0770ae;
}
.font_gray{
	color:#999!important;
}
.font_black{
	color:#464646;
}

.font_blue18{
	color:#00adfd;
	font-size:18px;
}
.font_blue14{
	color:#00adfd;
	font-size:14px;
}
a.font_blue14{
	color:#00adfd;
	font-size:14px;
}
a.font_blue14:hover{
	color:#ea6100;
}
a.font_blue{
	color:#00adfd;
}
.font_blank14{
	color:#464646;
	font-size:14px;
	font-weight:bold;
}
.font_orange14{
	color:#ea6100;
	font-size:14px;
}
.delStyle{
	text-decoration:line-through;
	color:#999;
}
.noBorder{
	border:none!important;
}
.alignRight{
	text-align:right;
}
.alignLeft{
	text-align:left;
}
.alignCenter{
	text-align:center;
}
.bgBlue{
	background-color:#e2f1ff;
}
.bgDarkBlue{
	background-color:#b9ddff;
}
.bgWhite{
	background-color:#fff;
}
.texthidden{
	text-indent:-99999em;
}
.btnW80{
	background: url("/images/bx/btn.gif") no-repeat scroll 0 -270px transparent;
    color: #FFFFFF;
    height: 29px;
    *line-height: 26px;	
    text-align: center;
    vertical-align: middle;
    width: 86px;
	cursor:pointer;
}
.btnW60{
	background: url("/images/bx/btn.gif") no-repeat scroll 0 -233px transparent;
    color: #FFFFFF;
    height: 29px;
    *line-height: 26px;	
    width: 61px;
	cursor:pointer;
    vertical-align: middle;	
}
.btnW100{
	background: url("/images/bx/btn.gif") no-repeat scroll -86px -264px transparent;
    color: #FFFFFF;
    height: 37px;
    *line-height: 34px;
    text-align: center;
    vertical-align: middle;
    width: 108px;
	cursor:pointer;
	border:none;
	font-size:14px;
}
.btnGray{
	background: url("/images/bx/btn.gif") no-repeat scroll -251px -88px transparent;
    color: #464646;
    height: 25px;
    *line-height: 22px;	
    text-align: center;
    vertical-align: middle;
    width: 58px;
	cursor:pointer;
	border:none;
}

/*pad mar*/
.pad10{
	padding:10px;
}
.padT{
	padding-top:10px;
}
.padB{
	padding-bottom:10px;
}
.padL{
	padding-left:10px;
}
.padR{
	padding-right:10px;
}
.padTB{
	padding:10px 0;
}
.padLR{
	padding:0 10px;
}
.marLR{
	margin:0 10px;
}
.dis_ib{
	display:inline-block;
}
.grayTitle{
  	background: url("/images/bx/title_bg.gif") repeat-x scroll 0 -99px transparent;
    font-size: 12px;
    height: 34px;
    line-height: 34px;
	color:#464646;
}
.floatL{
	float:left;
}
.floatR{
	float:right;
}
.lh26{
	line-height:26px;
}

a.noPointer{
	cursor:default;
}
/* form */
.inputStyle{
	border:1px solid #999;
}
.selectStyle,select{
	border:1px solid #ABADB3;
}
textarea{
	border:1px solid #999999;	
}
/* if ie6*/
input, textarea, select{
	*font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
}